/**************
 * Base Styles
 **************/
a:link,
a:visited {
    color: #308C43;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

body {
    background: #fff url('../img/cream_pixels.png') repeat left top;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

pre {
    white-space: pre !important;
    word-wrap: normal !important;
    overflow: auto !important;
}

main {
    padding-top:50px;
}

/**************
 * Sidebar
 **************/
.sidebar {
    background-color:#D2843B;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    overflow-x:hidden;
    z-index: 
}

/**************
 * Logo
 **************/
.logo {
    background-image: url('../img/leo.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 225px 225px;
    font-size: 75px;
    height:310px; width:225px;
    margin: 0 auto;
    position: relative;
}

    .logo-text {
        position: absolute;
        bottom: 0;
        text-align: center;
        vertical-align: bottom;
        width: 100%;
    }

/**************
 * Tag
 **************/
.tag {
    color: #1A4C25;
    font-size: 22px;
    text-align: center;
}

/*******************
 * Terminal Section
 *******************/
.terminal-section .highlight {
    margin-bottom:0 !important;
}

/*****************
 * Jumbotron
 *****************/
.jumbotron {
    margin-top:60px;
}

.jumbotron p {
    font-size: 22px;
    line-height: 34px;
}

@media only screen and (min-width : 1224px) {

}