            </main>

            <footer>
            	<div class="row">
            		<div class="col-xs-12">
            			<p>
            				Special thanks to <a href="https://www.behance.net/mscaturro" target="_blank">Marc Scaturro</a> for the logo and font choice. 
            			</p>
            		</div>
            	</div>
            </footer>
        </div>
    </div>

    <script type="text/javascript">
    function addListener(element, type, callback) {
      if (element.addEventListener) element.addEventListener(type, callback);
      else if (element.attachEvent) element.attachEvent('on' + type, callback);
    }

    var downloadLink = document.getElementById('downloadLink');
    addListener(downloadLink, 'click', function() {
        ga('send', 'event', 'button', 'click', 'download');
    });
    </script>
</body>
</html>