<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.main_title }} - {{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% else %}
    <meta name="description" content="{{site.description}}">
    {% endif %}
    <meta name="author" content="Brian Scaturro">
    
    <link href="http://fonts.googleapis.com/css?family=Nunito|Open+Sans:700,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/pygments-monokai.css">
    <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-2 sidebar">
                <ul class="nav">
                    <li><a href="#">Expect</a></li>
                    <li><a href="#">Assert</a></li>
                    <li><a href="#">Plugins</a></li>
                </ul>
            </aside>
            <main class="col-md-10 col-md-offset-2" role="main">
                <header>
                    <h1 class="logo">
                        <span class="logo-text">Leo</span>
                    </h1>
                </header>