<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.main_title }} - {{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% else %}
    <meta name="description" content="{{site.description}}">
    {% endif %}
    <meta name="author" content="Brian Scaturro">
    
    <link href="http://fonts.googleapis.com/css?family=Nunito|Open+Sans:700,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/pygments-monokai.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/antiscroll.css">
    <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico">
</head>
<body{% if page.class %} class="{{page.class}}"{% endif %}>
    <nav class="visible-xs navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}">Leo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.baseurl}}/expect.html">Expect</a></li>
            <li><a href="{{site.baseurl}}/assert.html">Assert</a></li>
            <li><a href="#">Plugins</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-2 col-sm-3 sidebar hidden-xs">
                <ul class="nav nav-sidebar">
                    <li><a href="{{site.baseurl}}">Leo</a></li>
                    <li><a href="{{site.baseurl}}/expect.html">Expect</a></li>
                    <li><a href="{{site.baseurl}}/assert.html">Assert</a></li>
                    <li><a href="#">Plugins</a></li>
                </ul>
                {% if page.expect %}
                <div class="antiscroll-wrap">
                    <div class="antiscroll-inner">
                        <ul class="nav nav-sidebar nav-scrollable">
                            <li><a href="#expect_language_chains">language chains</a></li>
                            <li><a href="#expect_a">a / an</a></li>
                            <li><a href="#expect_include">include / contain</a></li>
                            <li><a href="#expect_ok">ok</a></li>
                            <li><a href="#expect_true">true</a></li>
                            <li><a href="#expect_false">false</a></li>
                            <li><a href="#expect_null">null</a></li>
                            <li><a href="#expect_empty">empty</a></li>
                            <li><a href="#expect_equal">equal</a></li>
                            <li><a href="#expect_above">above</a></li>
                            <li><a href="#expect_least">least</a></li>
                            <li><a href="#expect_below">below</a></li>
                            <li><a href="#expect_most">most</a></li>
                            <li><a href="#expect_within">within</a></li>
                            <li><a href="#expect_instanceof">instanceof</a></li>
                            <li><a href="#expect_property">property</a></li>
                            <li><a href="#expect_length">length</a></li>
                            <li><a href="#expect_match">match</a></li>
                            <li><a href="#expect_string">string</a></li>
                            <li><a href="#expect_keys">keys</a></li>
                            <li><a href="#expect_throw">throw</a></li>
                            <li><a href="#expect_satisfy">satisfy</a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if page.assert %}
                <div class="antiscroll-wrap">
                    <div class="antiscroll-inner">
                        <ul class="nav nav-sidebar nav-scrollable">
                            <li><a href="#assert_equal">equal</a></li>
                            <li><a href="#assert_notEqual">notEqual</a></li>
                            <li><a href="#assert_throws">throws</a></li>
                            <li><a href="#assert_doesNotThrow">doesNotThrow</a></li>
                            <li><a href="#assert_ok">ok</a></li>
                            <li><a href="#assert_notOk">notOk</a></li>
                            <li><a href="#assert_strictEqual">strictEqual</a></li>
                            <li><a href="#assert_notStrictEqual">notStrictEqual</a></li>
                            <li><a href="#assert_match">match</a></li>
                            <li><a href="#assert_notMatch">notMatch</a></li>
                            <li><a href="#assert_operator">operator</a></li>
                            <li><a href="#assert_lengthOf">lengthOf</a></li>
                            <li><a href="#assert_include">include</a></li>
                            <li><a href="#assert_notInclude">notInclude</a></li>
                            <li><a href="#assert_instanceOf">instanceOf</a></li>
                            <li><a href="#assert_notInstanceOf">notInstanceOf</a></li>
                            <li><a href="#assert_property">property</a></li>
                            <li><a href="#assert_notProperty">notProperty</a></li>
                            <li><a href="#assert_deepProperty">deepProperty</a></li>
                            <li><a href="#assert_notDeepProperty">notDeepProperty</a></li>
                            <li><a href="#assert_propertyVal">propertyVal</a></li>
                            <li><a href="#assert_propertyNotVal">propertyNotVal</a></li>
                            <li><a href="#assert_deepPropertyVal">deepPropertyVal</a></li>
                            <li><a href="#assert_deepPropertyNotVal">deepPropertyNotVal</a></li>
                            <li><a href="#assert_typeOf">typeOf</a></li>
                            <li><a href="#assert_notTypeOf">notTypeOf</a></li>
                            <li><a href="#assert_isTrue">isTrue</a></li>
                            <li><a href="#assert_isFalse">isFalse</a></li>
                            <li><a href="#assert_isNull">isNull</a></li>
                            <li><a href="#assert_isNotNull">isNotNull</a></li>
                            <li><a href="#assert_isCallable">isCallable</a></li>
                            <li><a href="#assert_isNotCallable">isNotCallable</a></li>
                            <li><a href="#assert_isObject">isObject</a></li>
                            <li><a href="#assert_isNotObject">isNotObject</a></li>
                            <li><a href="#assert_isArray">isArray</a></li>
                            <li><a href="#assert_isNotArray">isNotArray</a></li>
                            <li><a href="#assert_isString">isString</a></li>
                            <li><a href="#assert_isNotString">isNotString</a></li>
                            <li><a href="#assert_isNumeric">isNumeric</a></li>
                            <li><a href="#assert_isNotNumeric">isNotNumeric</a></li>
                            <li><a href="#assert_isInteger">isInteger</a></li>
                            <li><a href="#assert_isNotInteger">isNotInteger</a></li>
                            <li><a href="#assert_isDouble">isDouble</a></li>
                            <li><a href="#assert_isNotDouble">isNotDouble</a></li>
                            <li><a href="#assert_isResource">isResource</a></li>
                            <li><a href="#assert_isNotResource">isNotResource</a></li>
                            <li><a href="#assert_isBoolean">isBoolean</a></li>
                            <li><a href="#assert_isNotBoolean">isNotBoolean</a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </aside>
            <main class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3" role="main">